<p id="notice"><%= notice %></p>

<h1>Budgets</h1>
<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th class="col-sm-8">Name</th>
        <th class="col-sm-4"></th>
      </tr>
    </thead>

    <tbody>
      <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.name %></td>
        <td>
          <%= link_to 'Show', budget_path(budget, year: Date.today.year), class: "btn btn-link" %>
          <%= link_to 'Edit', edit_budget_path(budget), class: "btn btn-link" %>
          <%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Budget', new_budget_path, class: "btn btn-success" %>
