<div class="row">
  <aside class="col-md-2">
    <h3 class="text-center">See all expenses</h3>
    <%= link_to "Expenses list", budget_expenses_path(@budget), class: "btn btn-primary btn-block" %>
  </aside>
  <div class="col-md-8 budget-form">
    <h1 class="text-center"><%= @budget.name %></h1>
    
    <% if !@categories.empty? %>
      <p> Add expenses by clicking one of your categories</p>
      <!--List of categories -->
      <ul class="list-unstyled">
      <% @categories.each do |category| %>
        <li>
          <!--Passes category id to form as query string-->
          <%= link_to category.name, new_budget_expense_path(@budget.id, category: category.id) %>
          <!--Shows total expenses in category-->
          <span class="right-span">Total expense: <strong><%= calculate_total(category) %>$</strong></span>
        </li>
      <% end %>
      </ul> 
      <p>Create expense in a new category</p>
      <%= link_to "New expense", new_budget_expense_path(@budget.id), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Create your first expense", new_budget_expense_path(@budget.id), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>