<div class="row">
  <aside class="col-md-2">
    <h2><%= @budget.name %></h2>
    <p>Currency: USD $</p>
    <% if !@expenses.empty? %>
      <%= link_to "All expenses", budget_expenses_path(@budget), class: "btn btn-primary btn-block" %>
      <%= link_to "Settings", edit_budget_path(@budget), class: "btn btn-warning btn-block"%>
      <%= link_to "Income", '#', class: "btn btn-success btn-block" %>
    <% end %>
  </aside>
  <div class="col-md-10">
    <%= render 'year_picker' %>
  </div>
  <div class="col-md-8 budget-form">
    <h6> Add expenses by clicking one of your categories</h6>
    <%= render 'spreadsheet' %> 
  </div>
</div>