<div class="col-md-8 col-md-offset-2">
  <h3>Showing expenses for <strong><%= link_to @budget.name, @budget %></strong></h3>
  <table class="expenses-index">
    <thead>
      <th><%= link_to 'Category', budget_expenses_path(attribute: :category), class: 'btn' %></th>
      <th><%= link_to 'Expense name', budget_expenses_path(attribute: :name), class: 'btn' %></th>
      <th><%= link_to 'Amount', budget_expenses_path(attribute: :amount) , class: 'btn' %></th>
      <th><%= link_to 'Date', budget_expenses_path(attribute: :date), class: 'btn' %></th>
      <th><%= link_to 'Date of input', budget_expenses_path, class: 'btn' %></th>
    </thead>
    <tbody>
      <%= render @expenses %>
    </tbody>
  </table>
</div>